/* You're welcome to change any of this! */
<style>
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@400;600&display=swap');
</style>

* {
    box-sizing: border-box;
}

body {
    margin: 20px;
    font-family: 'Mali', cursive;
    background-color: #F3B3A6
    
}
header, section {
    padding: 20px;
    font-family: 'Mali', cursive;
    font-weight: bold;
    word-spacing: 10px;
}
p, li {
    line-height: 2.5em;
}

#inspiration {
    background-color: #E9FAE3;
    padding-top: 40px;
    padding-bottom: 40px;
}